body {
    background-color: #1a1a1a;
    color:azure;
    padding: 0;
    margin: 0;
}
h1 {
    
    font-size: 4.25vw;
    text-align: center;
}

/*Navigation Bar*/
nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width:100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

nav li {
    text-align: center;
}
a:link, a:visited {
    color: #e1a87a;
    text-decoration: none;
}

#spaceHolder {
    height: 20px;
}

/*icon container*/
#div-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*icons with circle as background*/
.contact-icon {
    font-size: 20px;
    width: 44px;
    height: 44px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*Styles for Location, Mobile, ad Email*/
.contact-detail {
    display: flex;
    margin-top: 2rem;
}

.contact-detail i {
    color: azure;
    font-size: 44px;
}

.div-con-info {
    margin-left: 8px;
    padding: 0;
    width: 100%;
}

.contact-detail h4 {
    margin: 0;
    font-size: 20px;
    color:#fff;
}

.contact-detail p {
    font-size:14px;
    margin: 0;
    color: cornsilk;
}

/*Styles for the message form*/
form {
    padding-top: 5px;
    margin: 5px;
    border:rgb(255, 255, 255) solid;
    border-radius: 5px;;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.long-field {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

#input-name {
    height: 44px;
    width: 50%;
    margin: 10px 5px 10px 0px;
    border-radius:  4px;
}

#input-email {
    height: 44px;
    width: 50%;
    margin: 10px 0px 10px 5px;
    border-radius:  4px;
}

#input-title {
    width: 100%;
    height: 44px;
    border-radius:  4px;
    margin: 10px 0px 10px 0px;
}

#input-text {
    width: 100%;
    border-radius:  4px;
    margin: 15px 0px 10px 0px;
}

#contact-info {
    margin: 5px;
    padding: 30px 15px 30px 15px;
    border:rgb(255, 255, 255) solid;
    border-radius: 5px;;
}

button {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color:cornsilk;
    padding: 10px 35px;
    border-radius: 50px;
}

/*button pointer*/
button:not(:disabled)  {
    cursor: pointer;
}

/*media query for wide screen*/
@media screen and (min-width:600px) {
    #contact {
        display: flex;
    }
    #contact-info {
        width: 30%;
        }

    form {
        width: 65%;
    }
}

/*media query for mobile screen*/
@media screen and (max-width:599px) {
    #contact-info {
        margin-bottom: 20px;
        
    }
}