body {
    background-color: #1a1a1a;
}
h1 {
    color: #fff;
    font-size: 4.25vw;
    text-align: center;
}

nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width:98%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

nav li {
    /*margin: 20px;*/
    text-align: center;
}
nav a:link, nav a:visited {
    color: #e1a87a;
}

section {
    width: 100%;
}

#spaceHolder {
    height: 20px;
}

.about_text {
    color:azure;
    
    /*margin-bottom: 40px;*/
}

@media screen and (min-width:600px) {
#about_content {
    display:flex;
    color:azure;

}
#about_description {
    margin-left: 2em;
    width:60%;
}
}
@media screen and (max-width: 599px) {
    #about_content {
        display:flex;
        flex-direction: column;
        align-content: center;
        color:azure;
    }
    #about_description {
        margin-top: 2em;
        margin-left: 2em;
        width:90%;
    }
    
    
}
#link-ca {
    color:azure;
}

#about_description h3 {
    margin-top: 1em;
}
.main-box{
    margin: auto;
    width: 300px;
    height: 400px;
    box-shadow: 2px 4px 2px 4px rgba(70, 224, 151, 0.65);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}

.big-circle{
    width: 150px;
    height: 150px;
    border: 10px solid #46E097;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.small-circle{
    width: 140px;
    height: 140px;
    border: 10px solid #DAF9F6;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-image: url("./media/me_face.jpg");
    background-position: center;
    background-size: cover;
}

.heading-name{
 margin: 3px 0;  
 color:azure; 
}

.heading-work{
    color: #46E097;
    font-weight: 300;
    margin: 3px 0;
}
.info{
    padding: 0 20px;
    margin-bottom: 15px;
    color:azure;
}

#icon-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height:40px;
    margin: auto;
}

.contact-icon:link, .contact-icon:visited {
    color: antiquewhite;
    text-decoration: none;
}

#follow_btn{
    text-decoration: none;
    background:azure;
    color:#e1a87a;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px rgba(70, 224, 151, 0.65);
}

#follow_btn:hover{
    color: #46E097;
    background: #DAF9F6;
    font-weight: 600;
}