body {
    background-color: #1a1a1a;
    margin:0;
    padding: 5px;
}
h1 {
    color: #fff;
    font-size: 4.25vw;
    text-align: center;
}

nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width:100%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

li {
    /*margin: 20px;*/
    text-align: center;
}
a:link, a:visited {
    color: #e1a87a;
}

.div_img {
    width: 98%;
    text-align: center;
    border-style: solid;
    border-color: #e1a87a;
    
    padding: 0px;
}
.div_img img {
    width: 100%;
}
#spaceHolder {
    height: 20px;
}

.link_button:link, .link_button:visited {
    background-color: #e1a87a;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
    #list_of_projects {
        display: flex;
    }

    .div_img {
        
        margin: 1rem;
        
    }

}

.project_text {
    color: #eee;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 599px) {
    #list_of_projects {
        display: flex;
        flex-direction: column;
        align-content: center;
        /*margin:auto;*/
        width:100%;
    }
    .div_img {
        
        margin-bottom: 1rem;
    }
}
.div_project_text {
    height: 4em;
}