body {
    background-color: #1a1a1a;
    color:azure;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 4.25vw;
    text-align: center;
}

/*Navigation Bar*/
nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width:100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

nav li {
    text-align: center;
}
nav a:link, nav a:visited {
    color: #e1a87a;
}

/*Space for the fixed navigation bar*/
#spaceHolder {
    height: 20px;
}

/*Style for project cards*/
.div_img {
    width: 96%;
    text-align: center;
    border-style: solid;
    border-color: #e1a87a;
    padding: 0px;
}
.div_img img {
    width: 100%;
}

.div_img p {
    height: 2em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.div_img h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*button for more details*/
.link_button:link, .link_button:visited {
    background-color: #e1a87a;
    color: white;
    border-radius: 5px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

/*media query for wide chreen*/
@media screen and (min-width: 600px) {
    #list_of_projects {
        display: flex;
    }
    .div_img {
        margin: 1rem;  
    }
}

/*media query for mobile chreen*/
@media screen and (max-width: 599px) {
    #list_of_projects {
        display: flex;
        flex-direction: column;
        align-content: center;
        width:100%;
    }
    .div_img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
}
